* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h3 {
    font-family: 'Roboto', 'sans-serif';
    color: #fff;
    padding: 1em;
    background: rgb(38, 41, 41);
    margin-bottom: 1.5em;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.inner-container-1 {
    font-family: 'Roboto', 'sans-serif';
    flex-basis: 100%;
    min-height: 40vh;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.inner-container-1 form {
    display: flex;
    flex-direction: column;
}

.inner-container-1 form .form-label {
    margin: 0 auto;
}


.inner-container-1 form .form-legend {
    margin: 0 auto;
}

.inner-container-1 form textarea {
    min-width: 250px;
    min-height: 100px;
}

hr {
    min-width: 40vw;
    margin-bottom: 0.5em;
}

.inner-container-2 {
    font-family: 'Roboto', 'sans-serif';
    flex-basis: 40%;
    min-height: 40vh;
    border: 5px rgb(253, 80, 53) solid;
}

.inner-container-2 h2 {
    text-align: center;
    color: rgb(253, 80, 53);
}

.inner-container-2 hr {
    border: 1.5px rgb(253, 80, 53) solid;
}

.inner-inner-container-2 {
    margin: 1em;
}

.inner-container-3 {
    font-family: 'Roboto', 'sans-serif';
    flex-basis: 40%;
    min-height: 40vh;
    border: 5px rgb(53, 253, 133) solid;
}

.inner-container-3 h2 {
    text-align: center;
    color: rgb(53, 253, 133);
}

.inner-container-3 hr {
    border: 1.5px rgb(53, 253, 133) solid;
}

.inner-inner-container-3 {
    margin: 1em;
}

#create-task-btn {
    width: 45%;
    margin: 1em auto;
}