<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'create_task' %}" method="post">
        {{ form }}
        {% csrf_token %}
        <button>create task</button>
    </form>

    <a href="{% url 'task_api_view' %}">task api view</a>
    
    <hr>

    <div class="tasks_container"></div>

    <script>
        const TASK_URL = "{% url 'task_api_view' %}";
        const tasks_container = document.getElementsByClassName('tasks_container')[0];
        
        fetch(TASK_URL)
        .then(res => res.json())
        .then(body => {
            Object.values(body).forEach(element => {
                console.log(element);
            })
        })
    </script>
</body>
</html>